#cabecalho {
    background: green;
    
}

ul {
    display: flex;
    margin: 0 auto;
}

li {    
   display: flex;
   flex-wrap: nowrap;
   padding: 10px;
}

ul a{
    text-decoration: none;
    
}